#results .alert {
    float: left;
    width: 100px;
    margin: 5px 10px;
}
#results h2 {
    margin: 10px;
}
#answer {
    width: 6em;
}
#footer {
    padding-left: 10px;
}
.share {
    padding-left: 10px;
}
